# FRONTEND
VITE_API_URL=http://localhost:8000
VITE_FIREBASE_CONFIG={"apiKey":"","authDomain":"","projectId":"","storageBucket":"","messagingSenderId":"","appId":""}

# BACKEND
STOCK_API_KEY=2K5FP5UV0B6NZN4J
